<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="6.0.5" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1484.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="Unofficial.Microsoft.ReportingServices" version="2019.11.0" targetFramework="net48" />
</packages>